/* |||||||||| |||||||||| |||||||||| |||||||||| xl */
@media (width <= 1400px) {
	.chart {
		--chart-w: auto;
		--chart-h: var(--chart-size);

		grid-auto-flow: row;
	}

	.xl-order-0 {
		order: 0;
	}
}

/* |||||||||| |||||||||| |||||||||| |||||||||| sm */
@media (width <= 768px) {
	.sm-d-none {
		display: none;
	}
}
