[data-theme="black"] .slide {
	background-image: none;
}

.slide {
	counter-increment: slide-counter;
	position: relative;
	padding-block: 4rem;
	-ms-overflow-style: none;
	scrollbar-width: none;
	background-color: var(--clr-bg, initial);
	/* background-repeat: no-repeat;
	background-image: url(/images/bg-triangles-right-bottom-corner.svg);
	background-size: 15dvw;
	background-position: bottom -1px right -1px; */

	grid-auto-rows: min-content 1fr;
	align-items: start;
	box-shadow: 0 0 4rem 1rem var(--cyan-500);

	/* vertical */
	/* row-gap: 4rem;
	grid-auto-rows: min-content; */
}

/* top right beam */
.slide::before {
	/* display: none; */
	position: absolute;
	content: "";
	top: -0.75rem;
	right: 0;
	z-index: 2;
	width: 6rem;
	aspect-ratio: 1;
	background-image: linear-gradient(
		80deg,
		var(--cyan-500) 0,
		var(--violet-500) 100%
	);
	transition: clip-path 0.25s;
	clip-path: polygon(100% 0, 0 70%, 100% 30%);
}
/* .slide:nth-child(2n-1)::before {
	clip-path: polygon(100% 30%, 0 70%, 100% 30%);
}
.slide:nth-child(2n-1):hover::before {
	clip-path: polygon(100% 0, 0 70%, 100% 30%);
}
.slide:nth-child(2n)::before {
	clip-path: polygon(100% 0, 0 70%, 100% 0);
}
.slide:nth-child(2n):hover::before {
	clip-path: polygon(100% 0, 0 70%, 100% 30%);
} */

.slide-ttl {
	--col: 5;
	--x: 2;

	max-width: fit-content;
	display: grid;
	grid-auto-rows: min-content;
	row-gap: 0.5em;
}

.slide__top-group {
	display: flex;
	justify-content: space-between;
	gap: 2em;
}
